{
    box-sizing: border-box;
padding:0
    margin:0

}
.productcard{
    width: 285px;
    
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.product-thumbnail{
    width: 285;
}   
.product-thumbnail-wrapper{
    margin-bottom: 9px;
}
.product-title{
    color: #1c1d1d;
}
